.dialog-title {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #091878;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 25px;
  width: 400px;
  height: 400px;
}

.input-field,
.select-field {
  border-radius: 4px;
  padding: 8px;
  font-size: 1rem;
}

button {
  margin: 8px;
}


