.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #2c3e50;
    color: white;
    padding: 16px;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
  }
  

  .sidebar-header {
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
 
 
  .sidebar-button:hover {
    background-color: #34495e;
  }
    .sidebar-divider {
    margin: 16px 0;
    background-color: #7f8c8d;
  }
  
  .fab-button {
    margin-top: 16px;
    align-self: center;
  }
  
.logout-button {
  position: fixed;
  bottom: 25px;
  left: 180px;
  z-index: 1000;
}
  